@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Chokokutai";
  src: url("/Chokokutai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
